extends ../layouts/index.pug
block body
  h1(class="display-6")=title
  - if (status)
    div(class="alert alert-success" role="alert")
      The product has been created!
  form(action="/createProduct" enctype="application/x-www-form-urlencoded" method="POST")
    div(class="form-group")
      label(for="name") Product Name
      input(type="text" class="form-control" name="name" aria-describedby="nameHelp" required)
      small(id="nameHelp" class="form-text text-muted") Complete the name of the product.
    div(class="form-group")
      label(for="price") Product Price
      input(type="text" class="form-control" name="price" aria-describedby="priceHelp" required)
      small(id="priceHelp" class="form-text text-muted") Complete the price of the product (without $ simbol).
    div(class="form-group")
      label(for="thumbnail") Product Image
      input(type="text" class="form-control" name="thumbnail" aria-describedby="thumbnailHelp" required)
      small(id="thumbnailHelp" class="form-text text-muted") Complete the url of the image of product.
    button(type="submit" class="btn btn-primary") Submit